<h1>Views Testing...</h1>
<h2>REgister</h2>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
    <input type="text" name="username" placeholder="student number">
    <input type="submit" name="" id="">
</form>

<h2>Login</h2>
<form action="/users/login" method="POST">
    <input type="text" name="username" placeholder="student number">
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="" id="">
</form>